#signUp_modal {
  background: white;
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  justify-content: center;
  .signUp_btns {
    width: 100%;
    height: 3em;
    font-size: 0.6em;
    display: flex;
    margin-top: 0.5em;
    border-radius: 0.13em;
    border: solid 0.01em #d0d0d0;
    background-color: #fff;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
  }
  .test-login-input {
    width: 100%;
    height: 4em;
    border-radius: 0.13em;
    border: solid 0.01em #d0d0d0;
    font-size: 0.55em;
    font-family: "Noto Sans KR", sans-serif;
    color: #a09f9f;
    font-weight: 500;
    padding: 1em;
    background-color: #fff;
  }
  .test-login {
    width: 100%;
    margin-top: 1em;
    border-radius: 4px;
    height: 2.56em;
    background-color: #8777e0;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 0.65em;
  }
  #hr-login {
    position: relative; 
    margin: 2rem 0; 
  }

  #hr-login hr {
    border: none;
    border-top: 1px solid #d4d4d8;
    margin: 0; 
  }

  #hr-login #or {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    background: #fff; 
    padding: 0 0.75rem;
    font-size: 0.9rem;
    color: #71717a; 
  }
}
